.authContainer {
  margin: 0px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* placeholder style */
  /* border: 5px blue dotted; */
  /* background-color: rgba(0, 204, 153, 0.75); */
}

.authContainer > h2 {
  margin-bottom: 0.75rem;
  /* placeholder style */
  /* background-color: pink; */
}

.authControlGroup {
  display: flex;
  flex-direction: column;
  /* placeholder style */
  background-color: var(--lightNeutral);
  padding: 1rem 1.25rem;
  border: 5px var(--darkNeutral) solid;
}

.authControl {
  /* give equal width to .control elements */
  flex: 1;
  /* stack display of elements */
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  /* padding: 14px 14px; */
  /* placeholder style */
  /* background-color: coral; */
  /* border: 5px purple dashed; */
}

/* style input for spacing between label and error */
.authInput {
  margin: 5px 0;
  padding: 0.5rem;
  min-width: 400px;
  height: 2rem;
  border: 2px solid var(--darkNeutral);
  font-size: 1.25rem;
  background-color: var(--lightNeutral);
  /* placeholder style */
  /* background-color: cornflowerblue; */
}

.errorMsg,
.authErrorSummary {
  color: var(--red);
  /* placeholder style */
  /* border: 5px black dotted; */
}

.authErrorSummary {
  padding: 1rem 0;
}

.authSubmitBtn {
  /* color */
  background-color: var(--darkNeutral);
  color: var(--lightNeutral);
  /* text */
  font-size: 1.25rem;
  font-weight: bold;
  /* style */
  border: none;
  /* sizing */
  padding: 1rem;
}
.authSubmitBtn:hover,
.authSubmitBtn:focus,
.authSubmitBtn:active {
  background-color: var(--lightNeutral);
  color: var(--darkNeutral);
}

/* responsive form elements */
@media only screen and (max-width: 550px) {
  .authContainer {
    width: 100%;
  }
  .authControlGroup {
    flex-direction: column;
  }
}
