/* form elements */
.authForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  padding: 1.5rem;
  background-color: hsla(42, 70%, 94%, 0.5);
  /* placeholder styles */
  /* background-color: gray; */
  /* border: 5px blue dotted; */
}
.authControlGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.75rem;
  /* placeholder styles */
  /* background-color: greenyellow; */
  /* border: 3px var(--darkNeutral) solid; */
}
.authControl {
  display: flex;
  flex-direction: column;
  /* placeholder style */
  /* border: 3px purple dotted; */
}
.authInput {
  font-size: 1.25rem;
  padding: 1rem;
  /* for spacing between label and error */
  width: 100%;
  border: 2px solid var(--darkNeutral);
  background-color: var(--lightNeutral);
  /* placeholder style */
  /* background-color: cornflowerblue; */
}

.microCopy {
  /* display: block; */
  font-size: 0.75rem;
}

.errorMsg,
.authErrorSummary {
  color: var(--red);
  /* placeholder style */
  /* border: 5px black dotted; */
}

.authSubmitBtn {
  /* sizing & positioning */
  padding: 1rem;
  margin-top: 1rem;
  align-self: flex-start;
  /* text */
  font-size: 1.25rem;
  font-weight: bold;
  /* color */
  background-color: var(--darkNeutral);
  color: var(--lightNeutral);
  /* style */
  border: none;
  border: 2px solid var(--darkNeutral);
}
.authSubmitBtn:hover,
.authSubmitBtn:focus,
.authSubmitBtn:active {
  background-color: var(--lightNeutral);
  color: var(--darkNeutral);
}

/* responsive form elements */
@media only screen and (max-width: 800px) {
  .authForm {
    width: 90%;
  }
  .authContainer {
    width: 100%;
  }
  .authControlGroup {
    flex-direction: column;
  }
  .microCopy {
    display: block;
    font-size: 0.75rem;
  }
}

/* TODO: move to Header.css */
.authNavLinksContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* placeholder style */
  /* background-color: pink; */
}
