/* header elements */
/* responsive styles */
@media only screen and (max-width: 550px) {
  header {
    flex-direction: column;
  }
  /* display heading and nav elements vertically */
  .headerContainerUser {
    flex-direction: column;
  }
}
.headerTitle {
  font-size: 2.5rem;
  padding: 0.75rem;
  /* placeholder style */
  /* background-color: blue; */
}

/* header elements for authorized users */
.headerContainerUser {
  /* display as flex with gap between links */
  display: flex;
  justify-content: space-between;
  /* placeholder style */
  /* background-color: maroon; */
}
.headerNavUser {
  text-align: center;
  align-self: center;
  padding: 0.75rem;
  /* placeholder style */
  /* background-color: yellow; */
}
.headerNavUser > a {
  padding: 1rem;
  color: var(--darkNeutral);
  border: 2px transparent solid;
}
.headerNavUser > a:active,
.headerNavUser > a:hover {
  border: 2px var(--darkNeutral) solid;
}

/* header elements for users not signed in */
.authNavLink {
  padding: 1rem;
  /* margin: 1rem; */
  color: var(--darkNeutral);
  border: 2px transparent solid;
}
.authNavLink.active {
  border: 2px var(--darkNeutral) solid;
  font-weight: bold;
  text-decoration: none;
}
