/* header elements */
/* responsive styles */
@media only screen and (max-width: 550px) {
  header {
    /* flex-direction: column; */
  }
  .headerContainerUser {
    /* display heading and nav elements vertically */
    flex-direction: column;
  }
  .authNavLinksContainer {
    width: 100%;
    /* placeholder style */
    /* border: 2px blue solid; */
  }
}
.headerTitle {
  font-size: 2.5rem;
  padding: 0.75rem;
  /* placeholder style */
  /* background-color: blue; */
}

/* header elements for authorized users */
.headerContainerUser {
  /* display as flex with gap between links */
  display: flex;
  justify-content: space-between;
  /* placeholder style */
  /* background-color: maroon; */
}
.headerNavUser {
  text-align: center;
  align-self: center;
  padding: 0.75rem;
  /* placeholder style */
  /* background-color: yellow; */
}
.headerNavUser > a {
  padding: 1rem;
  color: var(--darkNeutral);
  border: 2px transparent solid;
}
.headerNavUser > a:active,
.headerNavUser > a:hover {
  border: 2px var(--darkNeutral) solid;
}

/* header elements for users not signed in */
.headerContainerAuth {
  margin: 0;
  /* placeholder style */
  /* background-color: maroon; */
}
.authNavLinksContainer {
  width: 50%;
  margin: 0 auto;
  /* placeholder style */
  display: flex;
  justify-content: center;
  /* border: 2px blue solid; */
}
.authNavLink {
  color: var(--darkNeutral);
  text-align: center;
  padding: 1rem;
  /* margin: 1rem; */
  width: 100%;
  /* placeholder style */
  /* background-color: coral; */
  /* border: 2px transparent solid; */
}
.authNavLink.active {
  font-weight: bold;
  text-decoration: none;
  background-color: hsla(42, 70%, 94%, 0.5);
  /* placeholder style */
  /* border: 2px var(--lightNeutral) solid; */
}
