* {
  margin: 0;
  padding: 0;
}

/* app container */
#root {
  width: 100%;
  /* center the app container */
  margin: 0 auto;
  padding: 1.25rem;
  /* placeholder styles */
  background-color: rgba(255, 204, 153, 0.75);
  /* border: magenta 25px dotted; */
}

/* layout styles for header, main, footer */
header {
  margin-bottom: 20px;
  /* placeholder styles */
  /* background-color: rgba(51, 153, 255, 0.5); */
  /* border: 5px navy dashed; */
}
main {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* placeholder style */
  /* background-color: pink; */
}
footer {
  /* placeholder style */
  /* background-color: orange; */
}
