* {
  margin: 0;
  padding: 0;
  /* solution for child elements displaying outside of parent elements */
  box-sizing: border-box;
}

/* app container */
#root {
  width: 70%;
  /* center the app container */
  margin: 0 auto;
  /* placeholder styles */
  background-color: rgba(255, 204, 153, 0.75);
  /* border: magenta 25px dotted; */
}

/* layout styles for header, main, footer */
header {
  margin-bottom: 20px;
  /* placeholder styles */
  /* background-color: rgba(51, 153, 255, 0.5); */
  /* border: 5px navy dashed; */
}
main {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* placeholder style */
  /* background-color: magenta; */
  /* border: 5px mediumslateblue dotted; */
}
footer {
  /* placeholder style */
  /* background-color: orange; */
}

/* responsive app elements */
@media only screen and (max-width: 750px) {
  #root {
    width: 100%;
  }
}
