/* included :root styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* start of added styles */
  padding: 0;
  height: 100%;
  /* start of placeholder styles */
  /* image credit: screen rant */
  background: url("/src/assets/itysl-robert-palins.avif") no-repeat;
  background-color: blue;
  background-size: cover;
  border: 25px black dotted;
}
